*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

main{
    border-radius: 27px;background: #2A253B;
    max-width: 500px;
    min-width: 300px;
    margin: 50px auto;
    padding: 40px 20px;
    gap: 43px;
    background-image: url("../assets/Frame\ 83.svg");
    background-repeat: no-repeat;
    background-position: 0% 100%;
    background-size: cover;
}
.taskscont{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 43px;
}

.profile{
    display: flex;
align-items: center;
gap: 18px;
}

.profdeets{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 15px;
}

.profdeets h3{
    color: #FFF;

font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.profdeets span{
    color: #FFF;

font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.profdeets p{
    color: rgba(255, 255, 255, 0.73);
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.streak{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 10px;
align-self: stretch;
}

.fire{
    display: flex;
align-items: center;
gap: 5px;
}

.fire p{
    color: #F48FB1;

font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.name{
    display: flex;
flex-direction: column;
align-items: flex-start;
}
.tasks{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 12px;
width: 100%;
}

.tasks h1{
    color:  #FFF;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.task{
    display: flex;
padding: 19px;
flex-direction: column;
align-items: flex-start;
gap: 11px;
align-self: stretch;
border-radius: 19px;
width: 100%;
background: #7192CB;

}

.tasklist{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 21px;
align-self: stretch;
width: 100%;
}

.row1{
  display: flex;
justify-content: space-between;
align-items: flex-start;
align-self: stretch;
    }

.header{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 3px;
}

.header h3{
    color: #FFF;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.header p{
    color: #FFF;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.edit{
    display: flex;
width: 93px;
height: 31px;
padding: 5px 33px 5px 34px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 39px;
background: #FFF;
color: #2A253B;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.delete{
    border-radius: 39px;
background: #E73B3B;
display: flex;
width: 93px;
height: 31px;
padding: 5px 33px 5px 34px;
justify-content: center;
align-items: center;
gap: 10px;
color: #FFF;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

button{
    border: none;
    cursor: pointer;
}

.taskbtns{
    display: flex;
justify-content: flex-end;
align-items: center;
gap: 10px;
}

.complete{
    width: 33px;
height: 33px;
border: 1px solid #FFF;
border-radius: 50%;
}

form{
    display: flex;
padding: 23px 20px;
flex-direction: column;
align-items: flex-start;
gap: 23px;
border-radius: 25px;
background: #F9A71A;
width: 100%;
}

.createtask h1{
    color: #FFF;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.createtask{
    width: 100%;
}
.taskname{
    display: flex;
width: 100%;
height: 50px;
padding: 7px 6px;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-bottom: 1px solid #FFF;
background: #D88D0D;
}
.input{
    width: 100%;
}
.details{
    display: flex;
height: 72px;
padding: 10px 130px 10px 9px;
align-items: center;
width: 100%;
border-bottom: 1px solid #FFF;
background: #D88D0D;
}

select{
        display: flex;
padding: 0 11px;
align-items: center;
gap: 81px;
flex: 1 0 0;
align-self: stretch;
    width: 100%;
border-radius: 14px;
background: #FFF;
height: 100%;
justify-content: flex-end;
border: none;
}

input{
    border: none;
}
input:focus{
    outline: white solid 1px;
    color: #FFF;
}
input::placeholder{
    color: #ffffff78;
}
.dropdowns{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 32px;
align-self: stretch;
}
label{
       color: #FFF;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.choose{
    display: flex;
align-items: flex-start;
gap: 10px;
align-self: stretch;
}

.choosedd{
    position: relative;
    width: 100%;
    height: 48px;
}

.choosedd input{
    display: flex;
padding: 0 11px;
align-items: center;
gap: 81px;
flex: 1 0 0;
align-self: stretch;
    width: 100%;
border-radius: 14px;
background: #FFF;
height: 100%;
justify-content: flex-start;
}

.choosedd img{
position: absolute;
right: 10px;
top: 45%;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  transform: scale(1.5); /* try 1.5 → 2 */
  cursor: pointer;
}

.choosedd select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.choosedd input[type="date"],
.choosedd input[type="time"] {
  color: #222;
}

.addtask{
    display: flex;
width: 100%;
padding: 13px 132px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 79px;
border: 2px solid #F9A71A;
background: #FFF;
color: #F9A71A;
leading-trim: both;
text-edge: cap;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.pri{
    width: 100%;
    height: 48px;
    border-radius: 14px;
    background: #FFF;
    border: none;
    padding: 0 11px;
    display: flex;
    align-items: center;
    gap: 81px;
    justify-content: flex-end;
}

.priorities{
    width: 100%;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.datesline span{
    font-weight: 700;
}

.datesline h3{
    color: #FFF;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
}

.category{
    display: flex;
align-items: center;
background-color: #F48FB1;
color: #FFF;
font-size: 12px;
border-radius: 50%;
}